/*BACKGROUND */
body {
    background-image: url(img/orion-1655655_960_720.jpg);
    text-align: center;
    color: #fff;
    display: block;
    margin: auto;
    max-width: 500px;
    margin-top: 50px;
    font-family: sans-serif;

}

/* HEADER */
.image1 {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;

}

header p {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

/*  BODY   */
main nav ul {
    color: #fff;
    list-style-type: none;
    
}

main nav a {
    color: #fff;
    text-decoration: none;
}

.buttons {
    margin: auto;
    padding: 10px 50px;
    background-color: rgba(70, 69, 69, 0.5);
    width: 300px;
    text-align: center;
    display: block;
    margin-top: 30px;
    border-radius: 2rem;
    margin-left: 10px;
}

.buttons:hover {
    background-color: rgba(70, 69, 69, 0.8);
}

.post-title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 3px;
}

.recent {
    margin-top: 50px;
}

.description {
    font-weight: 600;
    font-size: 16px;
    
}

.post {
    font-size: 14px;
    margin-top: 30px;

}


/*  FOOTER */

.read-more {
    background-color: rgba(70, 69, 69, 0.5);
    width: 100px;
    padding: 10px 10px;
    border-radius: 2rem;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-right: 200px;

}

.read-more:hover{
    background-color: rgba(70, 69, 69, 0.8);    
}

footer a {
    color: #fff;
    text-decoration: none;
}

.comments {
    text-align: right;
    display: inline-block;
}